<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Noto+Sans+TC:wght@500&display=swap"
    rel="stylesheet">
  <title>Restaurant List</title>
</head>

<body>
  {{!-- nav bar --}}
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="35" height="35" class="d-inline-block align-top" alt="我的餐廳清單">
        <span style="font-weight: bold; font-size:25px;">Restaurant List</span>
      </a>
    </div>
  </nav>

  <div class="banner"></div>
  </header>


  {{{body}}}

  <div class="card-footer text-center text-border">
    Copyright by @Marco
  </div>

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/poper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>